.cta {
    // background-color: $black;
    
    background: linear-gradient(rgba($blue, .8), rgba($blue, .8)),
				url('https://wallpaperaccess.com/full/951548.jpg')
				center center/
				cover
				no-repeat
				fixed;

    &--title {
        font: $font-md;
        line-height: 1.15;
        color: $white;
        max-width: 80%;
        margin: 0 auto;
        padding-top: 40px;
    }

    &--arrow {
        background: #fff;
        height: 3px;
        width: 130px;
        margin: 60px auto 60px auto;
        position: relative;
        transform: rotate(90deg);
        
        &:before,
        &:after {
            content: "";
            background: #fff;
            position: absolute;
            height: 3px;
            width: 15px;
        }
        
        &:before {
            right: -3px;
            bottom: -4px;
            transform: rotate(-45deg);
        }
        
        &:after {
            right: -3px;
            top: -4px;
            transform: rotate(45deg);
        }
    }
}