.funcionalidades {
    padding-top: 80px;
    padding-bottom: 110px;
    background: linear-gradient(rgba($blue, .8), rgba($blue, .8)),
				url('https://wallpaperaccess.com/full/951548.jpg')
				center center/
				cover
				no-repeat
				fixed;
                
    &--title {
        font: $font-lg;
        line-height: 1.15;
        color: $white;
    }

    &--item {
        &--icon {
            height: 55px;
            fill: $yellow;
        }

        &--title {
            font: $font-md;
            color: $black;
        }

        &--text {
            font: $font-sm;
            color: $gray-dark
        }
    }

    .card {
        border: none;
        border-radius: 0;

        @media screen and (min-width: $device-lg) {
            min-height: 400px;
        }
    }    
}

