.min-footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: $blue;
    padding-top: 15px;
    padding-bottom: 15px;
    position: fixed;
    bottom: 0;
    &--logo {
        height: 60px;
        font-weight: bold;
    }
    &--text {
        color: $white;
        margin-bottom: 0;
    }
}