.min-footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: $blue;
    padding: 15px 0;
    position: relative;
    &--logo {
        height: 60px;
        font-weight: bold;
    }
    &--text {
        color: $white;
        margin-bottom: 0;
    }
}