@import 'styleVariables.scss';

.headerinside {
    display: flex;
    justify-content: center;
}

img {
    width: 150px;
}

main {
    max-width: 38%;
    display: flex;
    margin-top: 35px;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

a {
    text-decoration: none;
    color: #216AA7;
    text-justify: center;
}

p {
    max-height: fit-content;
    margin-bottom: 35px;
    text-align: center;
    text-justify: center;
}

form {
    width: 100%;
}

h2 {
    text-align: center;
    text-justify: center;
}
 
.titulo {
    max-height: 5%;
    margin-bottom: 15px;
}

.tituloContainer .text-lg {
    text-align: center;
}

.btn {
    width: 100%;
    padding: 20px 14.84375%;
}

.navbar {
    max-width: 200px;
}

.remember-me {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    color: #707070; 
}

.bottom {
    margin-bottom: 45px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

#checkbox {
    -moz-appearance:none;
    -webkit-appearance:none;
    -o-appearance:none;
}

.form-control {
    width: 100%;
    border: 3px solid #AFAFAF;
    padding: 10px !important;
    border-radius: 10px !important;
    margin: 10px 0px 40px 0px;
    height: 75px;
    line-height: 75px;
    font-size: 1.5rem;
    padding-left: 15px !important;
}

.hasborder { 
    border: 2px solid #707070;
    margin-left: 10px;
    height: 35px;
    width: 35px;
    position: relative; 
    overflow: hidden; 
    border-radius: 50%;
    box-shadow:0px 0px 0px 4px white inset;
}

.filled {
    background-color: #216AA7;
}

.modal-backdrop.show {
    background-color: #216AA7;
    opacity: 0.9;
}

.modal-align {
    height: 100%;
}

.modal-header {
    flex-wrap: wrap;
    justify-content: center;
}

.modal-header p {
    color: #707070;
    margin-bottom: 0;
}

.modal-body {
    padding-bottom: 8px;
}

.modal-body p {
    color: #23272A;
    justify-content: center;
    text-align: center;
}

.modal-footer {
    padding-top: 0;
}

.modal-content {
    border-radius: 0;
    border: none;
    padding: 60px 0;
}

.close {
    position: absolute;
    top: 13px;
    right: 13px;
}

.close span {
    font-size: 2.5rem;
}

.inputWrapper {
    position: relative;
}

.inputWrapper span {
    position: absolute;
    right: 30px;
    top: 30%;
    color: #707070;
    cursor: pointer;
}

.hidePassword {
    display: none
}

.form-control {
    padding-right: 120px;
}

.btn-close {
    width: 1em;
}

.footer .btn {
    max-height: 80px;
    padding: 25px 100px;
    background: white;
    margin-top: 20px;
    width: 270px;
}

@media (max-width: 1500px) {
    main {
        max-width: 55%;
    }
}

@media (max-width: 1200px) {
    main {
        max-width: 70%;
    }
}

@media (max-width: 900px) {
    main {
        max-width: 80%;
    }
}

@media (max-width: 720px) {
    .bottom {
        flex-direction: column;
    }
    .remember-me {
        margin-bottom: 30px;
    }
}

@media (max-width: 614px) {
    p {
        margin-top: 70px;
    }
    body {
        height: 980px;
    }
}