@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400;500;600;700;800&display=swap");
h1 {
  font-size: 3.5rem;
  font-weight: bold;
}

h2 {
  font-size: 3rem;
  font-weight: bold;
}

h3 {
  font-size: 2.25rem;
  font-weight: bold;
}

.text-lg {
  font-size: 1.5rem;
  font-weight: 500;
  display: block;
}

.text-md {
  font-size: 1.25rem;
  font-weight: 500;
  margin: 0;
}

* {
  padding: 0;
  border: 0;
  font-family: 'Baloo Bhai 2', cursive;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.headerinside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

img {
  width: 150px;
}

main {
  max-width: 38%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 35px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

a {
  text-decoration: none;
  color: #216AA7;
  text-justify: center;
}

p {
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
  margin-bottom: 35px;
  text-align: center;
  text-justify: center;
}

form {
  width: 100%;
}

h2 {
  text-align: center;
  text-justify: center;
}

.titulo {
  max-height: 5%;
  margin-bottom: 15px;
}

.tituloContainer .text-lg {
  text-align: center;
}

.btn {
  width: 100%;
  padding: 20px 14.84375%;
}

.navbar {
  max-width: 200px;
}

.remember-me {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #707070;
}

.bottom {
  margin-bottom: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#checkbox {
  -moz-appearance: none;
  -webkit-appearance: none;
  -o-appearance: none;
}

.form-control {
  width: 100%;
  border: 3px solid #AFAFAF;
  padding: 10px !important;
  border-radius: 10px !important;
  margin: 10px 0px 40px 0px;
  height: 75px;
  line-height: 75px;
  font-size: 1.5rem;
  padding-left: 15px !important;
}

.hasborder {
  border: 2px solid #707070;
  margin-left: 10px;
  height: 35px;
  width: 35px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 0px 4px white inset;
          box-shadow: 0px 0px 0px 4px white inset;
}

.filled {
  background-color: #216AA7;
}

.modal-backdrop.show {
  background-color: #216AA7;
  opacity: 0.9;
}

.modal-align {
  height: 100%;
}

.modal-header {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal-header p {
  color: #707070;
  margin-bottom: 0;
}

.modal-body {
  padding-bottom: 8px;
}

.modal-body p {
  color: #23272A;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.modal-footer {
  padding-top: 0;
}

.modal-content {
  border-radius: 0;
  border: none;
  padding: 60px 0;
}

.close {
  position: absolute;
  top: 13px;
  right: 13px;
}

.close span {
  font-size: 2.5rem;
}

.inputWrapper {
  position: relative;
}

.inputWrapper span {
  position: absolute;
  right: 30px;
  top: 30%;
  color: #707070;
  cursor: pointer;
}

.hidePassword {
  display: none;
}

.form-control {
  padding-right: 120px;
}

.btn-close {
  width: 1em;
}

.footer .btn {
  max-height: 80px;
  padding: 25px 100px;
  background: white;
  margin-top: 20px;
  width: 270px;
}

@media (max-width: 1500px) {
  main {
    max-width: 55%;
  }
}

@media (max-width: 1200px) {
  main {
    max-width: 70%;
  }
}

@media (max-width: 900px) {
  main {
    max-width: 80%;
  }
}

@media (max-width: 720px) {
  .bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .remember-me {
    margin-bottom: 30px;
  }
}

@media (max-width: 614px) {
  p {
    margin-top: 70px;
  }
  body {
    height: 980px;
  }
}
/*# sourceMappingURL=styleSign.css.map */