@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400;500;600;700;800&display=swap");
h1 {
  font-size: 3.5rem;
  font-weight: bold;
}

h2 {
  font-size: 3rem;
  font-weight: bold;
}

h3 {
  font-size: 2.25rem;
  font-weight: bold;
}

.text-lg {
  font-size: 1.5rem;
  font-weight: 500;
  display: block;
}

.text-md {
  font-size: 1.25rem;
  font-weight: 500;
  margin: 0;
}

* {
  padding: 0;
  border: 0;
  font-family: 'Baloo Bhai 2', cursive;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#navbarNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: white;
  border-bottom: 3px solid #AFAFAF;
  padding: 15px 0px;
}

.headerinside {
  width: 80%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

a {
  color: #707070;
}

a:hover {
  color: #216AA7;
}

.nav-link {
  color: #707070;
}

#acessar {
  border-radius: 10px;
  padding: 8px 53px 8px 53px;
  border: 3px solid #216AA7;
  background-color: white;
  color: #216AA7;
}

#acessar:hover {
  background-color: #216AA7;
  color: white;
}

.principal {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.principal .alinhar {
  margin: 130px 0;
}

.principal button {
  width: 250px;
  height: 75px;
}

.alinhar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 80%;
  -webkit-box-pack: justify !important;
  -ms-flex-pack: justify !important;
  justify-content: space-between !important;
  margin: 0px;
}

#usar {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #216AA7;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0px;
}

#usar .alinhar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#usar p {
  max-width: 220px;
}

#geral {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 80px;
}

#geral .alinhar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#geral label {
  padding: 21px 159px;
  border: none;
  border-radius: 10px;
}

.btn-outline-primary {
  background-color: #E5E5E5;
}

.titulo {
  width: 100%;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.botoes {
  width: 100%;
  max-height: 72px;
}

.centralizargeral {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-top: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#funcionalidades {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #216AA7;
  width: 100%;
  height: 1067px;
  margin-top: 110px;
  padding-top: 80px;
}

#funcionalidades h2 {
  color: white;
}

#funcionalidades .titulo {
  width: 100%;
}

#funcionalidades .alinhar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 80px;
  width: 80%;
  height: 100%;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 80%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 120px;
}

.form-control {
  width: 100%;
  border: 3px solid #AFAFAF !important;
  padding: 10px !important;
  border-radius: 10px !important;
  margin: 10px 0px 40px 0px;
  height: 75px;
  line-height: 75px;
  font-size: 1.5rem;
  padding-left: 15px !important;
}

.card {
  display: block;
  background: white;
  width: 32%;
  height: 400px;
  padding: 50px 36px;
  margin-bottom: 30px;
}

.card h3 {
  margin: 35px 0px;
}

#depoimentos {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

#depoimentos .alinhar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 80px;
  width: 70%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 1750px) {
  main {
    max-width: 55%;
  }
}
/*# sourceMappingURL=styleIndex.css.map */