@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400;500;600;700;800&display=swap");
h1 {
  font-size: 3.5rem;
  font-weight: bold;
}

h2 {
  font-size: 3rem;
  font-weight: bold;
}

h3 {
  font-size: 2.25rem;
  font-weight: bold;
}

.text-lg {
  font-size: 1.5rem;
  font-weight: 500;
  display: block;
}

.text-md {
  font-size: 1.25rem;
  font-weight: 500;
  margin: 0;
}

* {
  padding: 0;
  border: 0;
  font-family: 'Baloo Bhai 2', cursive;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

::-webkit-input-placeholder {
  font-size: 1.5rem;
}

:-ms-input-placeholder {
  font-size: 1.5rem;
}

::-ms-input-placeholder {
  font-size: 1.5rem;
}

::placeholder {
  font-size: 1.5rem;
}

* {
  padding: 0;
  border: 0;
  font-family: 'Baloo Bhai 2', cursive;
}

.nav-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.justify-content-end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.navbar-toggler {
  float: right;
}

.nav-link {
  padding: 0 2vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.btn-primary {
  background-color: #216AA7;
}

.btn-secondary {
  background-color: #AFAFAF;
  color: #707070;
}

.btn-group {
  width: 100%;
}

.btn-check:checked + .btn-outline-primary, .btn-check:active + .btn-outline-primary, .btn-outline-primary:active, .btn-outline-primary.active, .btn-outline-primary.dropdown-toggle.show {
  color: white;
  background-color: #216AA7;
  border-color: #216AA7;
}

.btn-outline-primary {
  color: #707070;
  background-color: #AFAFAF;
}

.navbar-light {
  max-width: 250px;
}

html, body {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

main {
  width: 80%;
  height: 100%;
}

button {
  border-radius: 10px !important;
}

p {
  color: #707070;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #AFAFAF;
}

::-webkit-scrollbar-thumb {
  background: #216AA7;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #174d7a;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 120px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: white;
  border-bottom: 3px solid #AFAFAF;
}

.headerinside {
  width: 80%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.logo {
  height: 70px;
}

a {
  color: #8E8E8E;
  text-decoration: none;
}

a:hover {
  color: #216AA7;
}

.alinhar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 80%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 80px 0;
}

.titulo {
  width: 100%;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.form-control {
  width: 100%;
  border: 3px solid #AFAFAF !important;
  padding: 10px !important;
  border-radius: 10px !important;
  margin: 10px 0px 40px 0px;
  height: 75px;
  line-height: 75px;
  font-size: 1.5rem;
  padding-left: 15px !important;
}

.half-bg {
  display: inline-block;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, rgba(255, 255, 255, 0)), color-stop(50%, #FFBF5B));
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 50%, #FFBF5B 50%);
}

.svg-100 {
  height: 100px;
  fill: #23272A;
}

.svg-55 {
  height: 55px;
  fill: #FFBF5B;
}

.svg-33 {
  height: 33px;
}

label[class="error"] {
  display: none !important;
}
/*# sourceMappingURL=styleGlobal.css.map */