@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400;500;600;700;800&display=swap");
@import "//node_modules/bootstrap/scss/bootstrap";
*, html, body {
  font-family: "Baloo Bhai 2" !important;
  font-display: swap;
}

/* Convert px to rem

@function toRem($pixels, $base: 16) {
    @return ($pixels / $base) + rem;
}

*/
.st0 {
  fill: #F6F6F8;
}

.st1 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #FFBF5B;
}

.st2 {
  fill: #23272A;
}

.st3 {
  fill: #216AA7;
}

.st4 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #F6F6F8;
}

.st5 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #23272A;
}

.st6 {
  font-family: "Baloo Bhai 2";
}

.st7 {
  font-size: 132.4004px;
}

.st8 {
  letter-spacing: 5.05;
}

textarea:hover,
textarea:active,
textarea:focus,
input:hover,
input:active,
input:focus,
a,
a:hover,
a:active,
a:focus,
button:hover,
button:active,
button:focus,
label:focus,
.btn:active,
.btn.active {
  outline: 0 !important;
  -webkit-appearance: none;
  box-shadow: none !important;
  text-decoration: none !important;
}

::selection {
  color: #23272a;
  background: #A9BFD2;
}

@media screen and (max-width: 1199.98px) {
  .container-padding {
    padding: 0 40px !important;
  }
}

@media screen and (max-width: 1199.98px) {
  .container-padding--light {
    padding: 80px 40px !important;
  }
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-thumb {
  background: #216AA7;
}

::-webkit-scrollbar-track {
  background: #E5E5E5;
}

@media (min-width: 1400px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 1320px;
  }
}
.dark-mode {
  background-color: #23272a;
  color: #E5E5E5;
  transition: background-color 0.25s ease-in-out;
}
.dark-mode .form-label {
  color: #E5E5E5;
}
.dark-mode .underline {
  color: #E5E5E5;
  background: linear-gradient(0deg, #216AA7, 30px, transparent 7px) 0 3em !important;
}
.dark-mode .cronograma .editable-row ::before {
  background-color: #216AA7 !important;
  color: #E5E5E5 !important;
}
.dark-mode .sidebar {
  background-color: #1d1d1d !important;
}
.dark-mode .sidebar a {
  color: #E5E5E5;
}
.dark-mode .sidebar ul li .tooltip {
  background-color: #707070;
}
.dark-mode .sidebar--mobile {
  background-color: #1d1d1d !important;
}
.dark-mode .painel--demais-horarios {
  background-color: #23272a;
  color: #E5E5E5;
}
.dark-mode .painel--demais-horarios:hover {
  background-color: #216AA7;
}
.dark-mode .painel .slick-next::before, .dark-mode .painel .slick-prev::before, .dark-mode .user--name {
  color: #E5E5E5;
}
.dark-mode .user--photo {
  border-color: #E5E5E5;
}
.dark-mode .materias--adicionar-materias, .dark-mode .atividades--btn--inactive, .dark-mode .modal--btn--secondary {
  background-color: #23272a;
  color: #E5E5E5;
}
.dark-mode .form-control {
  background-color: #707070;
  border-color: #AFAFAF;
  color: #E5E5E5;
}
.dark-mode .form-control[readOnly] {
  background-color: #707070;
  border-color: #AFAFAF;
  color: #E5E5E5;
  cursor: default;
}
.dark-mode .dados-pessoais--user-img {
  border-color: #E5E5E5;
}
.dark-mode h1, .dark-mode h2, .dark-mode h3, .dark-mode p {
  color: #E5E5E5;
}
.dark-mode .visao-geral--btn--inactive {
  background-color: #707070;
  color: #E5E5E5;
}
.dark-mode .card {
  background-color: #23272a;
}

.light-mode {
  background-color: #FFFFFF;
  color: #23272a;
  transition: background-color 0.25s ease-in-out;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 14px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #AFAFAF;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #FFFFFF;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #0c375a;
}

input:focus + .slider {
  box-shadow: 0 0 1px #216AA7;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.switch-checkbox {
  padding: 10px;
}

.d-grid {
  display: grid;
}

.navbar--main {
  padding: 12px 0;
  border-bottom: 3px solid #AFAFAF;
}
.navbar--main .navbar-brand span {
  font-size: 28px;
  color: #23272a;
  font-weight: 800;
  position: relative;
  top: 5px;
}
@media screen and (max-width: 1199.98px) {
  .navbar--main .nav-item:last-child a {
    margin-bottom: 30px;
  }
}
.navbar--main .nav-item .nav-link {
  font: 500 20px "Baloo Bhai 2", cursive;
  color: #707070;
  opacity: 1;
  padding: 0 !important;
  margin: 0 15px;
  position: relative;
}
.navbar--main .nav-item .nav-link:hover {
  color: #216AA7;
}
.navbar--main .nav-item .nav-link:after {
  content: "";
  position: absolute;
  bottom: -0.2em;
  left: 50%;
  right: 50%;
  height: 1px;
  background: #216AA7;
  transition: 0.2s;
}
.navbar--main .nav-item .nav-link:hover:after {
  left: 0;
  right: 0;
  height: 3px;
}
@media screen and (max-width: 1199.98px) {
  .navbar--main .nav-item .nav-link {
    margin: 10px 0;
  }
}
.navbar--main .navbar-toggler {
  border: 3px solid #707070;
  transition: 0.2s;
}
.navbar--main .navbar-toggler:hover {
  opacity: 0.65;
  transition: 0.2s;
}
.navbar--main .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(112, 112, 112, 1)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  transition: 0.2s;
}
.navbar--main .navbar-toggler-icon:hover {
  opacity: 0.65;
  transition: 0.2s;
}

.hero {
  margin: 140px auto 160px auto;
}
@media screen and (max-width: 1199.98px) {
  .hero {
    margin: 120px auto;
  }
}
@media screen and (max-width: 991.98px) {
  .hero {
    margin: 80px auto 120px;
  }
}
@media screen and (max-width: 767.98px) {
  .hero {
    margin: 40px auto 80px auto;
  }
}
.hero--title {
  font: 700 60px "Baloo Bhai 2", cursive;
  line-height: 1.15;
  color: #23272a;
}
.hero--text {
  font: 500 20px "Baloo Bhai 2", cursive;
  color: #707070;
  max-width: 95%;
}

.por-que-usar {
  background: linear-gradient(rgba(33, 106, 167, 0.8), rgba(33, 106, 167, 0.8)), url("https://wallpaperaccess.com/full/951548.jpg") center center/cover no-repeat fixed;
}
.por-que-usar .row {
  padding: 60px 0;
}
.por-que-usar--title {
  font: 700 48px "Baloo Bhai 2", cursive;
  line-height: 1.15;
  color: #FFFFFF;
  max-width: 80%;
}
@media screen and (max-width: 1199.98px) {
  .por-que-usar--title {
    text-align: center;
    max-width: 100%;
  }
}
.por-que-usar--item--icon {
  height: 55px;
  fill: #FFBF5B;
}
.por-que-usar--item--text {
  font: 500 20px "Baloo Bhai 2", cursive;
  color: #FFFFFF;
  max-width: 65%;
}
@media screen and (max-width: 1199.98px) {
  .por-que-usar--item--text {
    max-width: 100%;
  }
}
@media screen and (max-width: 991.98px) {
  .por-que-usar--item--text {
    max-width: 85%;
  }
}
@media screen and (max-width: 767.98px) {
  .por-que-usar--item--text {
    max-width: 100%;
  }
}

.visao-geral {
  padding-top: 80px;
  padding-bottom: 110px;
  padding-left: auto;
  padding-right: auto;
}
.visao-geral--title {
  font: 700 48px "Baloo Bhai 2", cursive;
  color: #23272a;
  line-height: 1.15;
}
.visao-geral--content--title {
  font: 700 36px "Baloo Bhai 2", cursive;
  color: #23272a;
}
.visao-geral--content--text--1, .visao-geral--content--text--2 {
  font: 500 20px "Baloo Bhai 2", cursive;
  color: #707070;
  max-width: 85%;
}
@media screen and (max-width: 991.98px) {
  .visao-geral--content--text--1, .visao-geral--content--text--2 {
    max-width: 100%;
  }
}
@media screen and (max-width: 1199.98px) {
  .visao-geral--content--img {
    margin: -45px auto auto auto;
  }
}

.funcionalidades {
  padding: 80px 0 110px 0;
  background: linear-gradient(rgba(33, 106, 167, 0.8), rgba(33, 106, 167, 0.8)), url("https://wallpaperaccess.com/full/951548.jpg") center center/cover no-repeat fixed;
}
.funcionalidades--title {
  font: 700 48px "Baloo Bhai 2", cursive;
  line-height: 1.15;
  color: #FFFFFF;
}
.funcionalidades--item--icon {
  height: 55px;
  fill: #FFBF5B;
}
.funcionalidades--item--title {
  font: 700 36px "Baloo Bhai 2", cursive;
  color: #23272a;
}
.funcionalidades--item--text {
  font: 500 20px "Baloo Bhai 2", cursive;
  color: #707070;
}
.funcionalidades .card {
  border: none;
  border-radius: 0;
}
@media screen and (min-width: 1199.98px) {
  .funcionalidades .card {
    min-height: 400px;
  }
}

.depoimentos {
  padding-top: 80px;
  padding-bottom: 110px;
  padding-left: auto;
  padding-right: auto;
}
.depoimentos--title {
  font: 700 48px "Baloo Bhai 2", cursive;
  color: #23272a;
  line-height: 1.15;
}
.depoimentos blockquote {
  background: #216AA7;
}
.depoimentos blockquote p {
  font: 500 20px "Baloo Bhai 2", cursive;
  color: #FFFFFF;
  font-style: italic;
}
.depoimentos blockquote footer {
  font: 500 20px "Baloo Bhai 2", cursive;
  font-weight: 400;
  color: #FFFFFF;
}
.depoimentos .blockquote-custom {
  position: relative;
  font-size: 1.1rem;
}
.depoimentos .blockquote-custom-icon {
  background: #216AA7;
  color: #FFBF5B;
  font-size: 60px;
  padding-top: 30px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 3px solid #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -35px;
  left: 25px;
}

.cta {
  background: linear-gradient(rgba(33, 106, 167, 0.8), rgba(33, 106, 167, 0.8)), url("https://wallpaperaccess.com/full/951548.jpg") center center/cover no-repeat fixed;
}
.cta--title {
  font: 700 36px "Baloo Bhai 2", cursive;
  line-height: 1.15;
  color: #FFFFFF;
  max-width: 80%;
  margin: 0 auto;
  padding-top: 40px;
}
.cta--arrow {
  background: #fff;
  height: 3px;
  width: 130px;
  margin: 60px auto 60px auto;
  position: relative;
  transform: rotate(90deg);
}
.cta--arrow:before, .cta--arrow:after {
  content: "";
  background: #fff;
  position: absolute;
  height: 3px;
  width: 15px;
}
.cta--arrow:before {
  right: -3px;
  bottom: -4px;
  transform: rotate(-45deg);
}
.cta--arrow:after {
  right: -3px;
  top: -4px;
  transform: rotate(45deg);
}

.footer {
  background-color: #23272a;
  padding: 70px 0 40px 0;
}
.footer .navbar-brand span {
  font-size: 28px;
  color: #FFFFFF;
  font-weight: 800;
  position: relative;
  top: 5px;
}
.footer--text {
  font: 500 20px "Baloo Bhai 2", cursive;
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
}
.footer--text span {
  font-weight: 700;
}
.footer--direitos {
  font: 500 20px "Baloo Bhai 2", cursive;
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
  text-transform: uppercase;
}
.footer--item--title {
  font: 700 36px "Baloo Bhai 2", cursive;
  line-height: 1.15;
  color: #FFBF5B;
}
.footer--navbar .nav-link {
  font: 500 20px "Baloo Bhai 2", cursive;
  font-weight: 400;
  color: #FFFFFF;
  transition: 0.2s;
}
.footer--navbar .nav-link:hover {
  opacity: 0.5;
  transition: 0.2s;
}

.min-footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #216AA7;
  padding-top: 15px;
  padding-bottom: 15px;
  position: fixed;
  bottom: 0;
}
.min-footer--logo {
  height: 60px;
  font-weight: bold;
}
.min-footer--text {
  color: #FFFFFF;
  margin-bottom: 0;
}

.content {
  margin: 50px auto 120px auto;
  width: calc(100vw - 78px);
  transition: all 0.5s ease;
  min-height: 770px;
}
@media screen and (max-width: 1650px) {
  .content {
    width: calc(80% - 78px);
  }
}
@media screen and (max-width: 991.98px) {
  .content {
    width: calc(90% - 78px);
  }
}
@media screen and (max-width: 600px) {
  .content {
    width: calc(100% - 78px) !important;
  }
}

#root {
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 991.98px) {
  #root {
    flex-direction: column;
  }
}

.logged--header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

.title {
  font: 700 48px "Baloo Bhai 2", cursive;
  margin-bottom: 40px;
  color: #23272a;
}

.underline {
  background: linear-gradient(0deg, #FFBF5B, 30px, transparent 7px) 0 3em;
}

.user {
  display: flex;
  margin-bottom: 40px;
  align-items: center;
}
.user--name {
  color: #707070;
  font: 500 20px "Baloo Bhai 2", cursive;
}
@media screen and (max-width: 991.98px) {
  .user--name {
    display: none;
  }
}
.user--photo {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  margin-left: 18px;
  border: 2px solid #707070;
  fill: #AFAFAF;
}
@media screen and (max-width: 767.98px) {
  .user--photo {
    display: none;
  }
}
.user p {
  margin: 0 !important;
}

.toast-container {
  width: 30%;
  right: 0;
  z-index: 1000;
}
@media screen and (max-width: 991.98px) {
  .toast-container {
    width: 90%;
  }
}

.toast {
  padding: 10px;
}
.toast--sucess {
  background-color: rgba(43, 158, 51, 0.1);
  border: 2px solid #2B9E33;
  border-radius: 10px;
  color: #2B9E33;
}

.MuiSlider-root {
  color: #216AA7 !important;
}

.form-control:disabled, .form-control[readOnly] {
  background-color: #FFFFFF;
  cursor: default;
}

@media screen and (max-width: 991.98px) {
  .index-div {
    flex-direction: column;
  }
}

.error-msg {
  font: 500 20px "Baloo Bhai 2", cursive;
  color: #C24D4D !important;
  font-weight: 400;
}

.return--arrow {
  background: #AFAFAF;
  height: 3px;
  width: 80px;
  margin: auto 30px auto 30px;
  position: relative;
  transform: rotate(0deg);
}
.return--arrow:before, .return--arrow:after {
  content: "";
  background: #AFAFAF;
  position: absolute;
  height: 3px;
  width: 15px;
}
.return--arrow:before {
  left: -3px;
  top: -4px;
  transform: rotate(-45deg);
}
.return--arrow:after {
  left: -3px;
  bottom: -4px;
  transform: rotate(45deg);
}
.return--text {
  color: #AFAFAF;
}

/*
.btn--common {
	border: 3px solid;
	border-radius: 10px;
	font: $font-sm;
	text-align: center;

	// Navbar
	&--navbar--acessar {
		@extend .btn--common;

		border-color: $blue;
		color: $blue;
		padding: 5px 40px;	
		transition: .2s;

		&:hover {
			background-color: $blue;
			color: $white;
			transition: .2s;
		}
	}

	// Hero
	&--hero--acessar {
		@extend .btn--common;

		color: $white;
		border: none;
		padding: 20px 90px;		
		background-color: $blue;
		transition: .2s;

		&:hover {
			background-color: $blue-dark;
			color: $white;
			transition: .2s;
		}
	}

	// Visão geral
	&--visao-geral {
		@extend .btn--common;

		padding: 20px 0;
		width: 100%;
		border: none;

		&--active {
			@extend .btn--common--visao-geral;

			background-color: $blue;
			color: $white;
			transition: .2s;

			&:hover {
				background-color: $blue-dark;
				color: $white;
				transition: .2s;
			}
		}

		&--inactive {
			@extend .btn--common--visao-geral;

			background-color: $gray-light;
			color: $gray-dark;
			transition: .2s;

			&:hover {
				opacity: .5;
				transition: .2s;
			}
		}
	}
}
*/
.btn--common, .dados-pessoais--dados, .dados-pessoais--alterar, .painel--demais-horarios, .atividades--btn, .ver-atividades--btn, .materias--btn, .contato--btn, .acessar--btn, .cadastrar--btn, .dados-pessoais--btn, .materias--classificar-por, .atividades--classificar-por, .cta--btn, .visao-geral--btn, .visao-geral--btn--inactive, .visao-geral--btn--active, .hero--btn, .navbar--btn {
  border: 3px solid;
  border-radius: 10px;
  font: 500 20px "Baloo Bhai 2", cursive;
  text-align: center;
  cursor: pointer;
}

.navbar--btn {
  border-color: #216AA7;
  color: #216AA7;
  padding: 5px 40px;
  transition: 0.2s;
}
.navbar--btn:hover {
  background-color: #216AA7;
  color: #FFFFFF;
  transition: 0.2s;
}

.hero--btn {
  color: #FFFFFF;
  border: none;
  padding: 20px 90px;
  background-color: #216AA7;
  transition: 0.2s;
}
.hero--btn:hover {
  color: #FFFFFF;
  transition: 0.2s;
}

.visao-geral--btn, .visao-geral--btn--inactive, .visao-geral--btn--active {
  padding: 20px 0;
  width: 100%;
  border: none;
}
.visao-geral--btn--active {
  background-color: #216AA7;
  color: #FFFFFF;
  transition: 0.2s;
}
.visao-geral--btn--active:hover {
  color: #FFFFFF;
  transition: 0.2s;
}
.visao-geral--btn--inactive {
  background-color: #E5E5E5;
  color: #707070;
  transition: 0.2s;
}

.cta--btn {
  color: #23272a;
  border: none;
  padding: 20px 90px;
  background-color: #FFFFFF;
  position: relative;
  z-index: 999;
  top: 40px;
}
.cta--btn:hover {
  background-color: #FFFFFF;
  color: #23272a;
}

.btn-light {
  background-color: #FFFFFF;
}
.btn-light:hover {
  background-color: #FFFFFF;
}

.contato--btn, .acessar--btn, .cadastrar--btn, .dados-pessoais--btn, .materias--classificar-por, .atividades--classificar-por {
  color: #FFFFFF;
  border: none;
  padding: 14px 0;
  background-color: #216AA7;
  transition: 0.2s;
}
.contato--btn:hover, .contato--btn:focus, .contato--btn:active, .acessar--btn:hover, .acessar--btn:focus, .acessar--btn:active, .cadastrar--btn:hover, .cadastrar--btn:focus, .cadastrar--btn:active, .dados-pessoais--btn:hover, .dados-pessoais--btn:focus, .dados-pessoais--btn:active, .materias--classificar-por:hover, .atividades--classificar-por:hover, .materias--classificar-por:focus, .atividades--classificar-por:focus, .materias--classificar-por:active, .atividades--classificar-por:active {
  background-color: #216AA7;
  color: #FFFFFF;
  transition: 0.2s;
}

button {
  white-space: normal !important;
}

.modal {
  font: 500 20px "Baloo Bhai 2", cursive;
}
.modal--title {
  text-align: center;
  font-weight: 800 !important;
}
.modal--title--website {
  font: 700 48px "Baloo Bhai 2", cursive !important;
}
.modal--title--plataforma {
  font: 500 24px "Baloo Bhai 2", cursive;
}
.modal--subtitle {
  font: 500 20px "Baloo Bhai 2", cursive !important;
  text-align: center;
  font-weight: 800 !important;
}
.modal--subtitle--website {
  font: 500 20px "Baloo Bhai 2", cursive !important;
}
.modal--text--website {
  text-align: center;
}
.modal--textarea {
  height: 63px;
  min-height: 63px;
}
.modal--input {
  font: 500 20px "Baloo Bhai 2", cursive;
  color: #23272a !important;
  font-weight: 400;
  padding: 12px;
  border: 2px solid #AFAFAF;
  border-radius: 10px;
}
.modal--input:focus, .modal--input:active {
  border: 2px solid #AFAFAF;
}
.modal--btn {
  padding: 16px 14.84375%;
  border-radius: 10px;
  font: 500 20px "Baloo Bhai 2", cursive;
  background: #216AA7;
  border: none;
  cursor: pointer;
}
.modal--btn:hover, .modal--btn:focus, .modal--btn:active {
  background: #216AA7 !important;
}
@media screen and (max-width: 767.98px) {
  .modal--btn {
    word-wrap: break-word;
  }
}
.modal--btn--secondary {
  background: #FFFFFF;
  color: #216AA7;
  font: 500 20px "Baloo Bhai 2", cursive;
  border: 3px solid #216AA7;
  padding: 12px 14.84375%;
  border-radius: 10px;
}
.modal--btn--secondary:active, .modal--btn--secondary:hover {
  background: #216AA7 !important;
  color: #FFFFFF;
  border: 3px solid #216AA7;
}
.modal--btn--verify {
  width: 85%;
}

.modal-backdrop.show {
  background-color: #23272a;
  opacity: 0.9;
}

.modal-alterar-senha .modal-backdrop.show {
  opacity: 0;
}

.modal-align {
  height: 100%;
}

.modal-header {
  flex-wrap: wrap;
  justify-content: center;
  border-bottom: none;
}

.modal-header p {
  color: #707070;
  margin-bottom: 0;
}

.modal-body {
  padding-bottom: 8px;
}
.modal-body p {
  color: #23272a;
  justify-content: center;
}
.modal-body h4 {
  color: #AFAFAF;
}

.modal-footer {
  padding-top: 0;
  border: none;
}

.modal-content {
  border-radius: 0;
  border: none;
}
.modal-content--website {
  padding: 50px 94px 60px 94px;
}
.modal-content--website--verify {
  padding: 60px 60px 60px 60px;
}
.modal-content--plataforma {
  padding: 60px 30px;
}
@media screen and (max-width: 767.98px) {
  .modal-content {
    padding: 60px 20px;
  }
}

.modal-cronograma .modal-content {
  padding: 30px 30px;
}
.modal-cronograma .modal-body {
  padding-bottom: 0px;
}
@media screen and (max-width: 767.98px) {
  .modal-cronograma .modal--subtitle {
    margin-top: 50px;
  }
}
.modal-cronograma--linha {
  margin-bottom: 50px;
}

.senha--container {
  position: relative;
}
.senha--container input {
  padding-right: 140px !important;
}
.senha--container span {
  position: absolute;
  right: 30px;
  top: 25%;
  color: #707070;
  cursor: pointer;
  user-select: none;
  font-size: 16px;
}
.senha--container .hide-password {
  display: none;
}

.sidebar {
  position: sticky;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 0;
  left: 0;
  height: 100vh;
  width: 78px;
  background: #23272a;
  padding: 0px 14px 30px 14px;
  z-index: 99;
  transition: all 0.5s ease;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}
@media screen and (max-width: 991.98px) {
  .sidebar {
    display: none;
  }
}
.sidebar.active {
  width: 240px;
}
.sidebar.active .logo_content .logo {
  opacity: 1;
  pointer-events: none;
}
.sidebar.active .sidebar--collapse {
  left: 85%;
}
.sidebar.active ul li .tooltip {
  display: none;
}
.sidebar.active .links_name {
  transition: 0s;
  opacity: 1;
  pointer-events: auto;
}
.sidebar--collapse {
  position: absolute;
  color: #FFFFFF;
  top: 30px;
  left: 50%;
  font-size: 35px;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  transform: translateX(-50%);
  cursor: pointer;
}
.sidebar .logo_content {
  display: flex;
  justify-content: center;
}
@media screen and (max-height: 675px) {
  .sidebar .logo_content {
    display: none;
  }
}
.sidebar .logo_content .logo {
  color: #FFFFFF;
  /*display: flex;
  align-items: center;*/
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
  width: 80px;
  height: 80px;
  font-weight: bold;
}
@media screen and (max-height: 675px) {
  .sidebar ul {
    margin: 50px 0px 0px 0px;
  }
}
.sidebar ul:first-child {
  margin-top: 20px;
}
.sidebar ul li {
  position: relative;
  height: 50px;
  width: 100%;
  margin: 0 5px;
  list-style: none;
  line-height: 50px;
  margin: 60px 0px;
}
@media screen and (max-height: 950px) {
  .sidebar ul li {
    margin: 40px 0px;
  }
}
@media screen and (max-height: 825px) {
  .sidebar ul li {
    margin: 20px 0px;
  }
}
.sidebar ul li:hover .tooltip {
  transition: all 0.5s ease;
  opacity: 1;
  top: 50%;
}
.sidebar ul li a {
  color: #FFFFFF;
  display: flex;
  align-items: center;
  text-decoration: none;
  border-radius: 12px;
  white-space: nowrap;
  transition: all 0.4s ease;
}
.sidebar ul li a:hover {
  color: #23272a;
  background: #FFFFFF;
}
.sidebar ul li a:hover svg {
  fill: #23272a;
}
.sidebar ul li .tooltip {
  position: absolute;
  left: 125px;
  top: 0;
  transform: translate(-50%, -50%);
  border-radius: 6px;
  height: 35px;
  width: 120px;
  background: #FFFFFF;
  line-height: 35px;
  text-align: center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  transition: 0s;
  opacity: 0;
  pointer-events: none;
  display: block;
}
.sidebar ul li svg {
  font-size: 18px;
  font-weight: 400;
  height: 35px;
  min-width: 50px;
  border-radius: 12px;
  line-height: 50px;
  text-align: center;
  fill: white;
  margin-right: 5px;
  transition: all 0.5s ease;
}
.sidebar .links_name {
  font-size: 1.25rem;
  font-weight: 400;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}

#active {
  color: #FFBF5B;
}
#active svg {
  fill: #FFBF5B;
}
#active:hover {
  color: #23272a;
}
#active:hover svg {
  fill: #23272a;
}

.sidebar--mobile {
  display: none;
  justify-content: center;
  flex-direction: row;
  background: #23272a;
}
@media screen and (max-width: 991.98px) {
  .sidebar--mobile {
    display: flex;
  }
}
.sidebar--mobile ul {
  display: flex;
  flex-direction: row;
  width: 80%;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: calc(1rem - 15px);
}
.sidebar--mobile li {
  list-style: none;
  min-width: 90px;
  margin-bottom: 15px;
}
.sidebar--mobile svg {
  font-weight: 400;
  height: 35px;
  min-width: 50px;
  border-radius: 12px;
  line-height: 50px;
  text-align: center;
  fill: white;
  transition: all 0.5s ease;
}
.sidebar--mobile svg:hover {
  color: currentColor !important;
}
.sidebar--mobile svg:hover svg {
  fill: currentColor;
}
.sidebar--mobile a {
  color: #FFFFFF;
  font-size: 13px;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  justify-content: center;
  white-space: nowrap;
  transition: all 0.4s ease;
}
.sidebar--mobile .links_name {
  display: flex;
  justify-content: center;
}
.sidebar--mobile .links_name--sair {
  margin-right: 10px;
}
.sidebar--mobile #active:hover {
  color: #FFBF5B;
}
.sidebar--mobile #active:hover svg {
  fill: #FFBF5B;
}
.sidebar--mobile .nav_list-mobile {
  flex-wrap: wrap;
}

/* BS */
ol, ul {
  padding-left: 0;
}

.simpleBox {
  display: flex;
  background: #216AA7;
  width: 220px;
  height: 180px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  margin-bottom: 60px;
}
@media screen and (max-width: 767.98px) {
  .simpleBox {
    width: 49%;
  }
}
.simpleBox h2 {
  color: #FFBF5B;
}
.simpleBox h5 {
  color: white;
  text-align: center;
}

.atvBox {
  display: flex;
  background: #216AA7;
  width: 340px;
  justify-content: center;
  flex-direction: column;
  padding: 30px;
}
.atvBox h2 {
  color: #FFFFFF;
  text-align: center;
  font: 500 20px "Baloo Bhai 2", cursive;
  font-size: 24px;
}
.atvBox hr {
  width: 100%;
  height: 1.3px;
  background-color: #FFFFFF;
}
.atvBox h4 {
  font: 500 20px "Baloo Bhai 2", cursive !important;
  font-weight: 400 !important;
}
.atvBox h5 {
  color: white;
  margin: 15px 0px;
  display: inline-block;
}
.atvBox .atv-botoes {
  margin-top: 15px;
}
.atvBox .btn-view {
  color: #216AA7;
  font: 500 20px "Baloo Bhai 2", cursive;
  padding: 8px 50px;
  border-radius: 10px;
  background-color: #FFFFFF;
}
@media screen and (max-width: 767.98px) {
  .atvBox .btn-view {
    padding: 8px 30px;
  }
}
.atvBox .btn-delete {
  color: #FFFFFF;
  font-weight: regular;
  font-size: 30px;
  border-radius: 50%;
  padding: 0px 13px;
  height: 50px;
  width: 50px;
  background-color: #C24D4D;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.atvBox .btn-delete:hover, .atvBox .btn-delete:focus, .atvBox .btn-delete:active {
  background-color: #C24D4D;
}
.atvBox .topic {
  display: flex;
  align-items: center;
}
.atvBox .atvSvg {
  min-height: 35px;
  max-width: 30px;
  fill: #FFBF5B;
  box-sizing: content-box;
  margin-right: 10px;
}

@media screen and (max-width: 430px) {
  .atvBox {
    padding: 30px 10px !important;
    width: 220px !important;
  }
}
#none {
  display: none !important;
}

@media screen and (max-width: 575.98px) {
  .modal-atividade .modal-content {
    padding: 60px 0px !important;
  }
}
.modal-atividade--materia {
  color: #707070 !important;
}
.modal-atividade input {
  margin-bottom: 20px;
}
.modal-atividade--btn {
  margin-bottom: 0px !important;
}
@media screen and (max-width: 767.98px) {
  .modal-atividade--btn {
    padding: 16px 15% !important;
  }
}
@media screen and (max-width: 425px) {
  .modal-atividade--btn {
    padding: 16px 15px !important;
  }
}
.modal-atividade .modal-footer {
  display: flex;
  padding: 0px 30px;
  justify-content: center;
}
@media screen and (max-width: 991.98px) {
  .modal-atividade .modal-footer {
    justify-content: flex-start;
  }
}

.btn-edit {
  background-color: #FFBF5B;
  border-radius: 50%;
  border: none;
  height: 65px;
  width: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0;
  position: absolute;
  right: 60px;
}
@media screen and (max-width: 575.98px) {
  .btn-edit {
    right: 35px;
  }
}
.btn-edit svg {
  fill: white;
  height: 50px;
  width: 50px;
}

.atividade-dropdown {
  outline: none;
  width: 100%;
  color: #707070;
  border-color: #AFAFAF;
}
.atividade-dropdown:focus-visible {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-color: #707070;
  background-color: #707070;
  color: #FFFFFF !important;
}
.atividade-dropdown option {
  background-color: #FFFFFF;
  border: 2px solid #707070;
  color: #707070;
}

.navbar-collapse.show {
  padding-bottom: 0px;
}
@media screen and (max-width: 1199.98px) {
  .navbar-collapse.show {
    padding-bottom: 30px;
  }
}

.acessar {
  padding-top: 40px;
  padding-bottom: 120px;
  padding-left: auto;
  padding-right: auto;
}
@media screen and (max-width: 1199.98px) {
  .acessar {
    padding: 40px 40px 120px 40px !important;
  }
}
.acessar--title {
  font: 700 48px "Baloo Bhai 2", cursive;
  color: #23272a;
  line-height: 1.15;
}
.acessar--text {
  font: 500 20px "Baloo Bhai 2", cursive;
  color: #707070;
  text-align: center;
  margin-top: -20px;
}
.acessar--text span a {
  color: #216AA7;
}
.acessar--text span a:hover {
  color: #216AA7;
}
.acessar--form label {
  font: 500 20px "Baloo Bhai 2", cursive;
  color: #23272a;
  margin-bottom: 0;
}
.acessar--form .acessar--input {
  font: 500 20px "Baloo Bhai 2", cursive;
  color: #23272a;
  font-weight: 400;
  padding: 12px;
  border: 2px solid #AFAFAF;
  border-radius: 10px;
}
.acessar--form .acessar--input:focus, .acessar--form .acessar--input:active {
  border: 2px solid #AFAFAF;
}
.acessar--form .esqueci-minha-senha {
  float: right;
  cursor: pointer;
}
.acessar--form .esqueci-minha-senha--text {
  font: 500 20px "Baloo Bhai 2", cursive;
  color: #707070;
  float: right;
}
@media screen and (max-width: 1199.98px) {
  .acessar--form .esqueci-minha-senha--text {
    float: none;
  }
}
.acessar--form .permanecer-conectado {
  font: 500 20px "Baloo Bhai 2", cursive !important;
  color: #707070 !important;
  display: flex;
  align-items: center;
  margin: 0;
  user-select: none;
  float: left;
  cursor: pointer;
}
.acessar--form .permanecer-conectado--hidden-checkbox {
  display: none;
}
.acessar--form .permanecer-conectado--checkbox {
  border: 2px solid #707070;
  margin-left: 10px;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  box-shadow: 0px 0px 0px 4px #FFFFFF inset;
  transition: 0.3s ease;
  cursor: pointer;
}
.acessar--form .permanecer-conectado .filled {
  background-color: #216AA7;
}

.cadastrar {
  padding-top: 40px;
  padding-bottom: 120px;
  padding-left: auto;
  padding-right: auto;
}
@media screen and (max-width: 1199.98px) {
  .cadastrar {
    padding: 40px 40px 120px 40px !important;
  }
}
.cadastrar--title {
  font: 700 48px "Baloo Bhai 2", cursive;
  color: #23272a;
  line-height: 1.15;
}
.cadastrar--text {
  font: 500 20px "Baloo Bhai 2", cursive;
  color: #707070;
  text-align: center;
  margin-top: -20px;
}
.cadastrar--text span a {
  color: #216AA7;
}
.cadastrar--text span a:hover {
  color: #216AA7;
}
.cadastrar--form label {
  font: 500 20px "Baloo Bhai 2", cursive;
  color: #23272a;
}
.cadastrar--form input {
  font: 500 20px "Baloo Bhai 2", cursive;
  color: #23272a;
  font-weight: 400;
  padding: 12px;
  border: 2px solid #AFAFAF;
  border-radius: 10px;
}
.cadastrar--form input:focus, .cadastrar--form input:active {
  border: 2px solid #AFAFAF;
}
.cadastrar--form .esqueci-minha-senha {
  font: 500 20px "Baloo Bhai 2", cursive;
  color: #707070;
  float: right;
}
@media screen and (max-width: 1199.98px) {
  .cadastrar--form .esqueci-minha-senha {
    float: none;
  }
}
.cadastrar--form .permanecer-conectado {
  font: 500 20px "Baloo Bhai 2", cursive !important;
  color: #707070 !important;
}
.cadastrar--form .hasborder {
  border: 2px solid #707070;
  margin-left: 10px;
  height: 35px;
  width: 35px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  box-shadow: 0px 0px 0px 4px white inset;
}

.contato {
  padding-top: 40px;
  padding-bottom: 120px;
  padding-left: auto;
  padding-right: auto;
}
@media screen and (max-width: 1199.98px) {
  .contato {
    padding: 40px 40px 120px 40px !important;
  }
}
.contato--title {
  font: 700 48px "Baloo Bhai 2", cursive;
  color: #23272a;
  line-height: 1.15;
}
.contato--text {
  font: 500 20px "Baloo Bhai 2", cursive;
  color: #707070;
  text-align: center;
  margin-top: -20px;
}
.contato .contato--form label {
  font: 500 20px "Baloo Bhai 2", cursive;
  color: #23272a;
}
.contato .contato--form input, .contato .contato--form textarea {
  font: 500 20px "Baloo Bhai 2", cursive;
  color: #23272a;
  font-weight: 400;
  padding: 12px;
  border: 2px solid #AFAFAF;
  border-radius: 10px;
}
.contato .contato--form textarea {
  min-height: 160px;
}

@media screen and (max-width: 991.98px) {
  .painel--demais-horarios {
    margin-top: 18px;
  }
}
.painel--materias-holder {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}
@media screen and (max-width: 767.98px) {
  .painel--materias-holder {
    flex-direction: column;
  }
}
.painel--materia {
  background: #216AA7;
  border: none;
  padding: 40px 0;
  width: 90%;
  color: #FFFFFF;
  font: 500 20px "Baloo Bhai 2", cursive;
  cursor: pointer;
}
@media screen and (max-width: 1199.98px) {
  .painel--materia {
    padding: 30px 90px;
  }
}
@media screen and (max-width: 991.98px) {
  .painel--materia {
    padding: 20px 75px;
  }
}
@media screen and (max-width: 767.98px) {
  .painel--materia {
    width: 80%;
    margin: 15px 0px;
    padding: 20px;
  }
}
.painel--atvs-recentes, .painel--materias {
  margin-bottom: 60px;
}
.painel .slick-arrow {
  display: inline-block;
  position: absolute;
  top: -55px;
  font-weight: regular !important;
  cursor: pointer;
  line-height: auto !important;
  transform: none !important;
  width: auto !important;
  height: auto !important;
  line-height: auto;
  color: #23272a;
  opacity: 1;
  width: 20px !important;
}
.painel .slick-arrow--hover {
  color: #23272a !important;
}
.painel .bar {
  display: inline-block;
  margin: 0px 30px;
  font-weight: 700;
  font-size: 30px;
}
.painel .slick-prev {
  left: auto;
  left: 0px;
}
.painel .slick-prev::before {
  content: "<";
  color: #23272a;
  font-size: 30px;
  font-weight: 800;
}
.painel .slick-next {
  left: 35px;
}
.painel .slick-next::before {
  content: ">";
  color: #23272a;
  font-size: 30px;
  font-weight: 800;
}
.painel .section-title {
  margin: 15px 0;
  margin-left: 55px;
  align-items: center;
}
.painel .section-title h4 {
  margin: 0;
}

.cronograma td, .cronograma th, .cronograma thead, .cronograma tbody, .painel td, .painel th, .painel thead, .painel tbody {
  text-align: center;
  font: 500 20px "Baloo Bhai 2", cursive;
  border: 2px solid #216AA7 !important;
}
.cronograma th, .painel th {
  border: 0;
  background-color: #216AA7;
  color: #FFFFFF;
}
.cronograma--hint, .painel--hint {
  padding: 0;
}
.cronograma--hint svg, .painel--hint svg {
  height: 60px;
  width: 60px;
  fill: #216AA7;
  cursor: pointer;
}
.cronograma .editable-row ::before, .painel .editable-row ::before {
  content: "x";
  position: absolute;
  left: -30px;
  color: #909293 !important;
  background-color: #FFDEAC !important;
}
@media screen and (max-width: 1199.98px) {
  .cronograma, .painel {
    width: calc(85% - 78px);
  }
}
@media screen and (max-width: 991.98px) {
  .cronograma, .painel {
    width: calc(90% - 78px);
  }
}
.cronograma--icon, .cronograma--cancelchange, .painel--cancelchange, .cronograma--confirmchange, .painel--confirmchange, .painel--icon {
  text-align: center;
  border-radius: 50%;
  color: #FFFFFF;
}
.cronograma--confirmchange, .painel--confirmchange {
  display: inline-block;
  background-color: #2B9E33;
  padding: 1px 7px 0px 5px;
}
.cronograma--confirmchange--text, .painel--confirmchange--text {
  color: #FFFFFF !important;
  margin: 0;
  font-size: 15px;
  font-weight: bold !important;
}
.cronograma--cancelchange, .painel--cancelchange {
  background-color: #C24D4D;
  padding: 1px 8px 0px 8px;
  font-size: 15px;
  font-weight: bold !important;
}
.cronograma--addline, .cronograma--removeline, .cronograma .editable-row ::before, .painel .editable-row ::before, .painel--addline, .painel--removeline {
  display: inline-block;
  background-color: #FFBF5B;
  padding: 0px;
  border-radius: 50%;
  line-height: 25px;
  height: 25px;
  width: 25px;
  text-align: center;
  text-justify: center;
  opacity: 0.5;
}
.cronograma--addline--text, .cronograma--removeline--text, .cronograma .editable-row ::before, .painel .editable-row ::before, .painel--addline--text, .painel--removeline--text {
  color: #23272a;
  margin: 0;
  font-size: 25px;
  font-weight: bold !important;
}
.cronograma--addline--opacity, .cronograma--removeline--opacity, .painel--addline--opacity, .painel--removeline--opacity {
  opacity: 1 !important;
}

.modal-cronograma p {
  text-align: inherit;
}
.modal-cronograma h3 {
  text-align: center;
}
.modal-cronograma--title {
  margin-bottom: 0 !important;
}
.modal-cronograma--body {
  padding-top: 0 !important;
}
.modal-cronograma--header {
  padding-bottom: 0 !important;
}
.modal-cronograma .modal-footer {
  justify-content: center !important;
}

.materias--classificar-por, .atividades--classificar-por {
  padding: 10px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 20%;
  margin: 48px 0px 60px 0;
}
.materias--btn {
  padding: 10px 10px;
  min-width: 20%;
  border: 2px solid #707070;
  color: #707070;
  background-color: #FFFFFF;
  margin: 10px 0 10px 0;
}
.materias--btn:hover, .materias--btn:focus, .materias--btn:active {
  border: 2px solid #707070;
  background-color: #707070;
  color: #FFFFFF;
}
@media screen and (max-width: 767.98px) {
  .materias--btn {
    padding: 10px 40px;
  }
}
@media screen and (max-width: 991.98px) {
  .materias--btn {
    padding: 10px 20px;
  }
}
.materias--ver-materias {
  margin-left: 0;
  margin-right: 10px;
  background-color: #707070;
  color: #FFFFFF;
}
.materias h5 {
  color: #FFFFFF;
  margin: 0;
}
.materias--holder {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media screen and (max-width: 767.98px) {
  .materias--holder {
    flex-direction: column;
    align-items: center;
  }
}
.materias--container {
  background-color: #216AA7;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 49%;
  margin-bottom: 30px;
  cursor: pointer;
}
@media screen and (max-width: 767.98px) {
  .materias--container {
    width: 100%;
  }
}
.materias--arrow {
  background: #FFFFFF;
  height: 3px;
  width: 80px;
  margin: auto 30px auto 30px;
  position: relative;
  transform: rotate(0deg);
}
.materias--arrow:before, .materias--arrow:after {
  content: "";
  background: #FFFFFF;
  position: absolute;
  height: 3px;
  width: 15px;
}
.materias--arrow:before {
  right: -3px;
  bottom: -4px;
  transform: rotate(-45deg);
}
.materias--arrow:after {
  right: -3px;
  top: -4px;
  transform: rotate(45deg);
}
.materias--name {
  color: #FFFFFF;
  text-align: center;
  margin-bottom: 0;
}
.materias .arrow-container {
  display: flex;
  align-items: center;
  height: 30px;
  cursor: pointer;
}

.ver-atividades--btn {
  width: 31% !important;
  background-color: #FFFFFF;
}
@media screen and (max-width: 991.98px) {
  .ver-atividades--btn {
    width: 49% !important;
  }
}
@media screen and (max-width: 767.98px) {
  .ver-atividades--btn {
    width: 100% !important;
  }
}
.ver-atividades--holder {
  margin: 0;
}
.ver-atividades .logged--header {
  flex-wrap: wrap !important;
}
.ver-atividades .return--arrow {
  margin: auto 30px auto 30px;
}
@media screen and (max-width: 1399.98px) {
  .ver-atividades .return--arrow {
    margin: auto 30px auto 0px;
  }
}

.atividades--holder {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
}
.atividades--classificar-por {
  min-width: 19% !important;
}
.atividades--btn, .ver-atividades--btn {
  padding: 10px 10px;
  width: 19%;
  border: 2px solid #707070;
  color: #707070;
  margin: 10px 0 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  white-space: nowrap;
}
@media screen and (max-width: 1199.98px) {
  .atividades--btn, .ver-atividades--btn {
    width: 30%;
  }
}
@media screen and (max-width: 991.98px) {
  .atividades--btn, .ver-atividades--btn {
    width: 49%;
  }
}
.atividades--btn:hover, .ver-atividades--btn:hover, .atividades--btn:focus-visible, .ver-atividades--btn:focus-visible, .atividades--btn:active, .ver-atividades--btn:active {
  border: 2px solid #707070;
  background-color: #707070;
  color: #FFFFFF;
}
@media screen and (max-width: 767.98px) {
  .atividades--btn, .ver-atividades--btn {
    padding: 10px 40px;
  }
}
.atividades--btn--active {
  background-color: #707070;
  color: #FFFFFF;
}
.atividades--btn--inactive {
  background-color: #FFFFFF;
  color: #707070;
}

.row-atividades {
  padding: 0 15px;
  flex-wrap: wrap;
}

.btn-edit--atv {
  background-color: #FFBF5B;
  border-radius: 50%;
  border: none;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0;
  margin-left: 13px;
}
.btn-edit--atv svg {
  fill: white;
  width: 17px;
}

.title-bold {
  font-weight: bold;
  margin: 0 !important;
}

.subtitle {
  font: 500 20px "Baloo Bhai 2", cursive;
}
.subtitle--gray {
  color: #707070;
}

.materia-visualizar-cronograma {
  font: 500 20px "Baloo Bhai 2", cursive;
  color: #216AA7 !important;
}
.materia-visualizar-cronograma:hover {
  color: #216AA7 !important;
}

.desempenho--section {
  margin: 0;
}

.dados-pessoais--sub-title {
  margin-bottom: 40px;
}
.dados-pessoais--user-img {
  display: block;
  margin-top: 35px;
  height: 336px;
  width: 336px;
  border-radius: 50%;
  border: 6px solid #707070;
  fill: #AFAFAF;
}
.dados-pessoais--alterar, .painel--demais-horarios {
  border-color: #216AA7;
  color: #216AA7;
  padding: 5px 20px;
  transition: 0.2s;
  display: block;
  margin-bottom: 40px;
  background-color: #FFFFFF;
}
.dados-pessoais--alterar:hover, .painel--demais-horarios:hover {
  background-color: #216AA7;
  color: #FFFFFF;
  transition: 0.2s;
}
.dados-pessoais--desativar, .ver-atividades--excluir {
  color: #C24D4D !important;
  cursor: pointer;
  text-decoration: none;
  font: 500 20px "Baloo Bhai 2", cursive;
  line-height: 32px;
}
.dados-pessoais--desativar:hover, .ver-atividades--excluir:hover, .dados-pessoais--desativar:focus, .ver-atividades--excluir:focus, .dados-pessoais--desativar:active, .ver-atividades--excluir:active {
  color: #C24D4D !important;
}
.dados-pessoais--dados {
  color: #FFFFFF;
  background-color: #216AA7;
  font: 500 20px "Baloo Bhai 2", cursive;
  padding: 12px 14.84375%;
  border: 3px solid #216AA7;
}
.dados-pessoais--dados:hover, .dados-pessoais--dados:focus, .dados-pessoais--dados:active {
  color: #FFFFFF !important;
}
.dados-pessoais--form label {
  font: 500 24px "Baloo Bhai 2", cursive;
  color: #23272a;
  margin: 0;
}
.dados-pessoais--form input {
  font: 500 20px "Baloo Bhai 2", cursive;
  font-weight: 400;
  padding: 20px 20px 20px 50px;
  width: 100%;
  border: 3px solid #707070;
  border-radius: 10px;
  cursor: default;
}
.dados-pessoais--form input:focus, .dados-pessoais--form input:active {
  border: 3px solid #707070;
}
.dados-pessoais--modal-cropper .modal-footer {
  flex-direction: column;
}
.dados-pessoais .conteudo-direita {
  margin-top: 92px;
}

.input-main {
  color: #23272a;
  font-weight: 700 !important;
}

.alterar-dados .modal-footer {
  flex-direction: column;
}

.btn-edit--photo {
  position: absolute;
  background-color: #216AA7;
  top: 0;
  right: 220px;
  border-radius: 50%;
  border: none;
  height: 55px;
  width: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0;
  margin-left: 13px;
}
.btn-edit--photo svg {
  fill: white;
  width: 32px;
}

.desativar-conta--btn, .confirmar-exclusao, .excluir-materia--btn {
  background: #C24D4D !important;
  color: #FFFFFF;
}
.desativar-conta--btn:hover, .desativar-conta--btn:focus, .desativar-conta--btn:active, .confirmar-exclusao:hover, .confirmar-exclusao:focus, .confirmar-exclusao:active, .excluir-materia--btn:hover, .excluir-materia--btn:focus, .excluir-materia--btn:active {
  background: #C24D4D !important;
}

.container-cropper {
  height: 400px;
  width: 400px;
}

.cropper--slider {
  width: 60%;
  margin: 30px 0;
}
.cropper--aplicar, .cropper--cancelar {
  display: inherit;
}
