<style>
    /* A FAZER */
</style>

<div class="container">
    <h2>Olá {{nome}}!</h2>
    Para fazer login, primeiro você deve verificar o seu email. <br>
    Verifique acessando o link a baixo:<br>
    <a href={{link}}>Confirme o seu email abrindo este link!</a><br>
    SISTEMA | CEOS
</div>