<style>
    /* A FAZER */
</style>

<div class="container">
    <h4>Olá, {{nome}}</h4>

    <p>Recebemos seu pedido de redefinição de senha. <br><br>

        Para realizar tal processo, clique no link abaixo. <br><br>

        Se você não realizou este pedido, ignore esta mensagem.
    </p>

    <a href={{link}}>Mude sua senha abrindo este link!</a><br>

</div>