@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400;500;600;700;800&display=swap");
*, html, body {
  font-family: "Baloo Bhai 2" !important;
}

/* Convert px to rem

@function toRem($pixels, $base: 16) {
    @return ($pixels / $base) + rem;
}

*/
.st0 {
  fill: #F6F6F8;
}

.st1 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #FFBF5B;
}

.st2 {
  fill: #23272A;
}

.st3 {
  fill: #216AA7;
}

.st4 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #F6F6F8;
}

.st5 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #23272A;
}

.st6 {
  font-family: "Baloo Bhai 2";
}

.st7 {
  font-size: 132.4004px;
}

.st8 {
  letter-spacing: 5.05;
}

@font-face {
  font-family: "Baloo Bhai 2";
  font-style: normal;
  font-weight: 800;
  src: url(https://fonts.gstatic.com/s/baloobhai2/v4/sZlcdRSL-z1VEWZ4YNA7Y5IP0fjyh1x9.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
.st5 {
  font-family: "Baloo Bhai 2";
}

.st6 {
  font-size: 159.5004px;
}

.st7 {
  letter-spacing: 6.06;
}

.st8 {
  font-weight: 800;
}

textarea:hover,
textarea:active,
textarea:focus,
input:hover,
input:active,
input:focus,
a,
a:hover,
a:active,
a:focus,
button:hover,
button:active,
button:focus,
label:focus,
.btn:active,
.btn.active {
  outline: 0 !important;
  -webkit-appearance: none;
  box-shadow: none !important;
  text-decoration: none !important;
}

::selection {
  color: #23272a;
  background: #A9BFD2;
}

@media screen and (max-width: 1199.98px) {
  .container-padding {
    padding: 0 40px !important;
  }
}

@media screen and (max-width: 1199.98px) {
  .container-padding--light {
    padding: 80px 40px !important;
  }
}

/*
::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-thumb {
    background: $gray-dark;
}

::-webkit-scrollbar-track {
    background: $gray-light;
}
*/
@media (min-width: 1400px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 1320px;
  }
}
.d-grid {
  display: grid;
}

/*
.btn--common {
	border: 3px solid;
	border-radius: 10px;
	font: $font-sm;
	text-align: center;

	// Navbar
	&--navbar--acessar {
		@extend .btn--common;

		border-color: $blue;
		color: $blue;
		padding: 5px 40px;	
		transition: .2s;

		&:hover {
			background-color: $blue;
			color: $white;
			transition: .2s;
		}
	}

	// Hero
	&--hero--acessar {
		@extend .btn--common;

		color: $white;
		border: none;
		padding: 20px 90px;		
		background-color: $blue;
		transition: .2s;

		&:hover {
			background-color: $blue-dark;
			color: $white;
			transition: .2s;
		}
	}

	// Visão geral
	&--visao-geral {
		@extend .btn--common;

		padding: 20px 0;
		width: 100%;
		border: none;

		&--active {
			@extend .btn--common--visao-geral;

			background-color: $blue;
			color: $white;
			transition: .2s;

			&:hover {
				background-color: $blue-dark;
				color: $white;
				transition: .2s;
			}
		}

		&--inactive {
			@extend .btn--common--visao-geral;

			background-color: $gray-light;
			color: $gray-dark;
			transition: .2s;

			&:hover {
				opacity: .5;
				transition: .2s;
			}
		}
	}
}
*/
.btn--common, .contato--btn, .acessar--btn, .cadastrar--btn, .dados-pessoais--btn, .materias--classificar-por, .email--verificar, .cta--btn, .visao-geral--btn, .visao-geral--btn--inactive, .visao-geral--btn--active, .hero--btn, .navbar--btn {
  border: 3px solid;
  border-radius: 10px;
  font: 500 20px "Baloo Bhai 2", cursive;
  text-align: center;
  cursor: pointer;
}

.navbar--btn {
  border-color: #216AA7;
  color: #216AA7;
  padding: 5px 40px;
  transition: 0.2s;
}
.navbar--btn:hover {
  background-color: #216AA7;
  color: #FFFFFF;
  transition: 0.2s;
}

.hero--btn {
  color: #FFFFFF;
  border: none;
  padding: 20px 90px;
  background-color: #216AA7;
  transition: 0.2s;
}
.hero--btn:hover {
  background-color: #0c375a;
  color: #FFFFFF;
  transition: 0.2s;
}

.visao-geral--btn, .visao-geral--btn--inactive, .visao-geral--btn--active {
  padding: 20px 0;
  width: 100%;
  border: none;
}
.visao-geral--btn--active {
  background-color: #216AA7;
  color: #FFFFFF;
  transition: 0.2s;
}
.visao-geral--btn--active:hover {
  background-color: #0c375a;
  color: #FFFFFF;
  transition: 0.2s;
}
.visao-geral--btn--inactive {
  background-color: #E5E5E5;
  color: #707070;
  transition: 0.2s;
}
.visao-geral--btn--inactive:hover {
  opacity: 0.5;
  transition: 0.2s;
}

.cta--btn {
  color: #23272a;
  border: none;
  padding: 20px 90px;
  background-color: #FFFFFF;
  position: relative;
  z-index: 999;
  top: 40px;
}
.cta--btn:hover {
  background-color: #FFFFFF;
  color: #23272a;
}

.contato--btn, .acessar--btn, .cadastrar--btn, .dados-pessoais--btn, .materias--classificar-por, .email--verificar {
  color: #FFFFFF;
  border: none;
  padding: 14px 0;
  background-color: #216AA7;
  transition: 0.2s;
}
.contato--btn:hover, .acessar--btn:hover, .cadastrar--btn:hover, .dados-pessoais--btn:hover, .materias--classificar-por:hover, .email--verificar:hover {
  background-color: #0c375a;
  color: #FFFFFF;
  transition: 0.2s;
}

.email {
  max-width: 600px;
  border: 1px solid #AFAFAF;
}
.email--logo {
  margin: 30px 0px;
}
.email--title {
  background: linear-gradient(rgba(33, 106, 167, 0.8), rgba(33, 106, 167, 0.8)), url("https://wallpaperaccess.com/full/951548.jpg") center center/cover no-repeat fixed;
  color: white;
  padding: 35px 0px;
}
.email--title h2 {
  margin: 0;
}
.email--verificar {
  width: 200px;
  margin-top: 15px;
}
.email--text {
  margin-top: 35px;
  margin-bottom: 30px;
  flex-wrap: wrap;
}
.email--text h4 {
  margin-bottom: 30px;
}
.email--bottom {
  margin: 30px 0px;
}
.email--bottom hr {
  height: 3px;
  color: #23272a;
}
.email--bottom p {
  color: #AFAFAF;
}

bold {
  font-weight: 800;
}

.col-lg-9 {
  padding: 0;
}
