<style>
    /* A FAZER */
</style>

<div class="container">
    <h2>Olá {{nome}}!</h2>
    A sua senha foi mudada. <br>
    Se não foi você que mudou a senha da sua conta, entre em contato com o nosso suporte.<br>
    Se foi você que mudou a senha, não precisa fazer nada.<br><br>
    SISTEMA | CEOS
</div>