<style>
    /* A FAZER */
</style>

<div class="container">
    <label>Email de: <strong>{{nome}}</strong></label><br>
    <label>Responder para: <strong>{{email}}</strong></label>
    <h3>{{assunto}}</h3>
    <p>{{msg}}</p>
    SISTEMA | CEOS
</div>