<style>
    /* A FAZER */
</style>

<div class="container">
    <strong><label>Email de:&nbsp;</label></strong>{{nome}}<br>
    <strong><label>Remetente:&nbsp;</label></strong>{{email}}<br>
    <strong><label>Assunto:&nbsp;</label></strong>{{assunto}}<br>
    <strong><label>Mensagem:&nbsp;</label></strong><br>
    <p>{{msg}}</p>
    SISTEMA | CEOS
</div>