// Cores

$blue: #216AA7;
$blue-light: #A9BFD2;
$yellow: #FFBF5B;
$yellow-light: #FFDEAC;
$red: #C24D4D;
$green: #2B9E33;
$black: #23272A;
$gray-dark: #707070;
$gray: #AFAFAF;
$gray-light: #E5E5E5;
$gray-semidark: #909293;
$white: #FFFFFF;

// Tipografia

$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$extra-bold: 800;

$font-size-h1: $bold 60px;
$font-size-h2: $bold 48px;
$font-size-h3: $bold 36px;
$font-size-text-md: $medium 20px/33px;