// Cores

$blue: #216AA7;
$blue-light: #A9BFD2;
$yellow: #FFBF5B;
$yellow-light: #FFDEAC;
$red: #C24D4D;
$green: #2B9E33;
$black: #23272A;
$gray-dark: #707070;
$gray: #AFAFAF;
$gray-light: #E5E5E5;
$gray-semidark: #909293;
$white: #FFFFFF;