.atividades {
    &--holder {
        display: flex;
        width: 100%;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &--classificar-por {
        @extend .materias--classificar-por;
        min-width: 19% !important;
    }
    &--btn {
        @extend .btn--common;
        padding: 10px 10px;
        border: 2px solid $gray-dark;
        color: $gray-dark;
        margin: 10px 0 10px 0;    
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: nowrap;
        white-space: nowrap !important;
        @include device(lg) {
            width: 30%;
        }
        @include device(md) {
            width: 49%;
        }
        &:hover, &:focus-visible, &:active {
            border: 2px solid $gray-dark;
            background-color: $gray-dark;
            color: $white;
        }
        @include device(sm) {             
            padding: 10px 40px;
        }
        &--active {
            background-color: $gray-dark;
            color: $white;
        }
        &--inactive {
            background-color: $white;
            color: $gray-dark;
        }
    }
}

.row-atividades {
    flex-wrap: wrap;
}

.btn-edit--atv {
    background-color: $yellow;
    border-radius: 50%;
    border: none;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0;    
    margin-left: 13px;
    svg {
        fill: white;
        width: 17px;
    }
}

.title-bold {
    font-weight: bold;
    margin: 0 !important;
}

.subtitle {
    font: $font-sm;
    &--gray {    
        color: $gray-dark;
    }
}

.materia-visualizar-cronograma {
    font: $font-sm;
    color: $blue !important;
    &:hover {
        color: $blue !important;
    }
}