.dados-pessoais {
    margin: 50px auto 320px auto !important;
    &--sub-title {
        margin-bottom: 40px;
    }
    &--user-img {
        display: block;
        margin-bottom: 40px;
        height: 150px
    }
    &--alterar {
        @extend .btn--common;

        border-color: $blue;
        color: $blue;
        padding: 5px 20px;	
        transition: .2s;
        display: block;
        margin-bottom: 40px;
        background-color: $white;
        &:hover {
            background-color: $blue;
            color: $white;
            transition: .2s;
        }
    }
    &--desativar {
        color: $red !important;
        cursor: pointer;
        text-decoration: none;
        font: $font-sm;
        &:hover,&:focus, &:active {
            color: $red !important;
        }
    }
    &--alterar-dados {
        color: $blue !important;
        cursor: pointer;
        text-decoration: none;
        font: $font-sm;
        &:hover,&:focus, &:active {
            color: $blue !important;
        }
    }
    &--form {
        label {
            font: $font-sm;
            color: $black;
        }

        input {
            font: $font-sm;
            color: $black;
            font-weight: $regular;
            padding: 12px;
            border: 2px solid $gray;
            border-radius: 10px;
            cursor: default;
        
            &:focus, &:active {
                border: 2px solid $gray;
            }
        }        
    }
    &--modal-cropper {
        .modal-footer {
            flex-direction: column;
        }
    }
}

.alterar-dados {
    .modal-footer {
        flex-direction: column;
    }
}

.desativar-conta--btn {
    background: $red !important;
    &:hover, &:focus, &:active{
        background: $red !important;
    }
}

.container-cropper {
    height: 500px;
    width: 500px;
}

.cropper {
    &--slider {
        width: 60%;
        margin: 30px 0;
    }
    &--aplicar, &--cancelar {
        display: inherit;
    }
}