.dados-pessoais {
    .title {
        margin-bottom: 40px;
    }
    &--sub-title {
        margin-bottom: 40px;
    }
    &--user-img {
        display: block;
        // margin-top: 35px;
        height: 336px;
        width: 336px;
        border-radius: 50%;        
        border: 6px solid $gray-dark;
        fill: $gray;
    }
    &--alterar {
        @extend .btn--common;

        border-color: $blue;
        color: $blue;
        padding: 5px 20px;	
        transition: .2s;
        display: block;
        margin-bottom: 40px;
        background-color: $white;
        &:hover {
            background-color: $blue;
            color: $white;
            transition: .2s;
        }
    }
    &--desativar {
        color: $red !important;
        cursor: pointer;
        text-decoration: none;
        font: $font-sm;
        line-height: 32px;
        &:hover,&:focus, &:active {
            color: $red !important;
        }
    }
    &--dados {
        @extend .btn--common;
        color: $white;
        background-color: $blue;
        font: $font-sm;
        padding: 12px 14.84375%;
        border: 3px solid $blue; 
        &:hover,&:focus, &:active {
            color: $white !important;
        }
    }
    &--form {
        label {
            font: $font-re;
            color: $black;
            margin: 0;
        }

        input {
            font: $font-sm;
            font-weight: $regular;
            padding: 20px 20px 20px 50px;
            width: 100%;
            border: 3px solid $gray-dark;
            border-radius: 10px;
            cursor: default;        
            &:focus, &:active {
                border: 3px solid $gray-dark;
            }
        }        
    }
    &--modal-cropper {
        .modal-footer {
            flex-direction: column;
        }
    }
    .conteudo-direita {
        margin-top: 92px;
    }
}

.input-main {
    color: $black;
    font-weight: $bold !important;
}

.alterar-dados {
    .modal-footer {
        flex-direction: column;
    }
}

.btn-edit--photo {
    position: absolute;
    background-color: $blue;
    top: 0;
    right: 30px;
    border-radius: 50%;
    border: none;
    height: 55px;
    width: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0;
    svg {
        fill: white;
        width: 32px;
    }
}

.desativar-conta--btn, .confirmar-exclusao, .excluir-materia--btn, .cronograma-red {
    background: $red !important;
    color: $white;
    &:hover, &:focus, &:active{
        background: $red !important;
    }
}

.container-cropper {
    height: 400px;
    width: 400px;
}

.cropper {
    &--slider {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 80%;
        margin: 30px 0;
        svg {
            margin: 0 20px;
            fill: $black;
            stroke: $black;
        }
    }
    &--aplicar, &--cancelar {
        display: inherit;
    }
}