.desempenho {
    &--section {
        display: flex;
        width: 100%;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        @include device(sm) {
            flex-direction: column;            
        }
        
    }
}