.error404 {
    @extend .hero;
    &--title {
        font-size: 200px;
        line-height: 200px;
    }
    &--subtitle {
        font-size: 40px;
        width: 75%;
    }
    h3 {
        color: $gray-dark;
    }
    &--btn {
        width: 30%;
        @include device(md) {
            width: 80%;
        }
    }
}