.contato {
    padding-top: 40px;
    padding-bottom: 120px;
    @include device(lg) {
        padding: 40px 40px 120px 40px !important;
    }

    &--title {
        font: $font-lg;
        color: $black;
        line-height: 1.15;
    }

    &--text {
        font: $font-sm;
        color: $gray-dark;
        text-align: center;
        margin-top: -20px;
    }

    .contato--form {
        label {
            font: $font-sm;
            color: $black;
        }        
    }
}