.materias {

    &--classificar-por {
        padding: 10px 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 250px;
        margin: 40px 0px;  
        margin-left: 3px; 
    }



    &--btn {
        @extend .btn--common;
        padding: 10px 70px;
        border: 2px solid $gray-dark;
        color: $gray-dark;
        &:hover, &:focus, &:active {
            border: 2px solid $gray-dark;
            background-color: $gray-dark;
            color: $white;
        }
        @include device(sm) {             
            padding: 10px 40px;         
        }
    }

    &--ver-materias {   
        margin-left: 0;
        margin-right: 10px;
        background-color: $gray-dark;
        color: $white;
    }

    h5 {
        color: #fff;
        margin: 0;
    }

    &--holder {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        @include device(sm) {
            flex-direction: column;
            align-items: center;
        }
    }

    &--container {
        background-color: $blue;
        padding: 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 49%;
        margin-bottom: 30px;
        @include device(sm) {
            width: 100%;
        }
    }

    &--arrow {
        background: #fff;
        height: 3px;
        width: 80px;
        margin: auto 30px auto 30px;
        position: relative;
        transform: rotate(0deg);
        
        &:before,
        &:after {
            content: "";
            background: #fff;
            position: absolute;
            height: 3px;
            width: 15px;
        }
        
        &:before {
            right: -3px;
            bottom: -4px;
            transform: rotate(-45deg);
        }
        
        &:after {
            right: -3px;
            top: -4px;
            transform: rotate(45deg);
        }
    }
    &--name {
        color: white;
        text-align: center;
        margin-bottom: 0;
    }
}
