.painel {
    &--demais-horarios {
        @extend .dados-pessoais--alterar;
    }
    &--materias-holder {
        display: flex;
        justify-content: space-between;
        margin-bottom: 40px;
        @include device(sm) {            
            flex-direction: column;        
        }
    }
    &--materia {
        background: $blue;
        border: none;
        padding: 40px 150px;
        color: $white;
        font: $font-sm;
        @include device(lg) {            
            padding: 30px 90px;
        }
        @include device(md) {            
            padding: 20px 75px;
        }
        @include device(sm) {            
            width: 80%;
            margin: 15px 0px; 
            padding: 20px;         
        }
    }
    &--atvs-recentes, &--materias {
        margin-bottom: 60px;
    }

    // Geral Carousel
    .slick-arrow {
        display: inline-block;
        position: absolute;
        top: -60px;
        font-weight: regular !important;
        cursor: pointer;
        line-height: auto !important;
        transform: none !important;
        width: auto !important;
        height: auto !important;
        line-height: auto;
        color: $black;
        opacity: 1;
        width: 20px;
        &--hover {
            color: $black !important;
        }
    }
    .bar {
        display: inline-block;
        margin: 0px 30px;
        font-weight: $bold;
        font-size: 30px;  
    }
    .slick-prev {
        &::before {
            content: '<';
            color: $black;
            font-size: 30px;
            font-weight: $extra-bold;
        }
        left: auto;
        left: 0px;
        
    }
    .slick-next {   
        &::before {
            content: '>';
            color: $black;
            font-size: 30px;
            font-weight: $extra-bold;
        }     
        left: 35px;        
    }
    .section-title {
        margin-bottom: 20px;
        margin-left: 55px;
        align-items: center;
        h4 {
            margin: 0;
        }
    }
}