.painel {
    &--demais-horarios {
        @extend .dados-pessoais--alterar;
        @include device(md) {
            margin-top: 18px;
        }
    }
    &--materia {
        background: $blue;
        border: none;
        padding: 40px 0px;
        color: $white;
        font: $font-sm;
        cursor: pointer;
        p {
            margin: 0;
        }
    }
    &--atvs-recentes, &--materias {
        margin-bottom: 60px;
    }

    // Geral Carousel
    .slick-arrow {
        display: inline-block;
        position: absolute;
        top: -55px;
        font-weight: regular !important;
        cursor: pointer;
        line-height: auto !important;
        transform: none !important;
        width: auto !important;
        height: auto !important;
        line-height: auto;
        color: $black;
        opacity: 1;
        width: 20px !important;
        &--hover {
            color: $black !important;
        }
    }
    .bar {
        display: inline-block;
        margin: 0px 30px;
        font-weight: $bold;
        font-size: 30px;  
    }
    .slick-prev {
        &::before {
            content: '<';
            color: $black;
            font-size: 30px;
            font-weight: $extra-bold;
        }
        left: auto;
        left: 0px;
        
    }
    .slick-next {   
        &::before {
            content: '>';
            color: $black;
            font-size: 30px;
            font-weight: $extra-bold;
        }     
        left: 35px;        
    }
    .section-title {
        margin: 15px 0;
        margin-left: 55px;
        align-items: center;
        h4 {
            margin: 0;
        }
    }
}