.thanks {    
    margin: 140px auto 160px auto;
    &--text {
        font: $font-sm;
        color: $gray-dark;
        max-width: 95%;
    }
    &--form {
        label {
            font: $font-sm;
            color: $black;
        }
    }
    textarea {
        min-height: 188px;
    }
    .motivo-title {
        font-weight: $bold !important;
    }
    .motivo-sub {
        margin-bottom: 16px;
        margin-top: -20px;
        font: $font-sm;
        color: $gray-dark;
    }
}