.ver-atividades {
    &--btn {
        @extend .atividades--btn;
        width: 31% !important;
        background-color: $white;
        @include device(md) {
            width: 49% !important;
        }
        @include device(sm) {
            width: 100% !important;
        }
        &--active {
            background-color: $gray-dark;
            color: $white !important;
        }
    }
    // &--holder {
    //     margin: 0;
    // }
    &--excluir {
        @extend .dados-pessoais--desativar;
    }
    .logged--header {
        flex-wrap: wrap !important;
        .form-control {
            width: 80%;
            // margin-top: 17px;
            // margin-bottom: 8px;
        }
        &--margin {
            margin-top: 8px;
            margin-bottom: 48px;
        }
    }
    .return--arrow {
        margin: auto 30px auto 30px;
        @include device(xl) {
            margin: auto 30px auto 0px;
        }        
    }
    .btn-edit--materia {
        @extend .btn-edit;
        position: initial;
        width: 30px;
        height: 30px;
        padding: 0;
        margin-left: 20px;
        svg {
            width: 15px;
            height: 15px;
        }
    }
}