.simpleBox {
    display: flex;
    background: $blue;
    width: 220px;
    height: 180px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    h2 {
        color: $yellow;
    }
    h5 {
        color: white;
        text-align: center;
    }
}