.atvBox {
    display: flex;
    background: $blue;
    width: 340px;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    h2 {
        color: $white;
        text-align: center;
        font: $font-sm;
        font-size: 24px;
    }
    hr {
        width: 100%;
        height: 1.3px;
        background-color: $white;
    }
    h5 {
        color: white;
        margin: 15px 0px;
        display: inline-block;
    }
    .atv-botoes {
        margin-top: 15px;
    }
    .btn-view {
        color: $blue;
        font: $font-sm;
        padding: 8px 50px;
        border-radius: 10px;
        background-color: $white;
    }
    .btn-delete {
        color: $white;
        font-weight: regular;
        font-size: 30px;
        border-radius: 50%;
        padding: 0px 13px;
        height: 50px;
        width: 50px;
        background-color: $red;
        border: none;
        &:hover, &:focus, &:active {
            background-color: $red;
        }
    }
    #none {
        display: none;
    }
    .topic {
        display: flex;
        align-items: center;
    }
    .atvSvg {
        min-height: 35px;
        max-width: 30px;
        fill: $yellow;
        box-sizing: content-box;
        margin-right: 10px;
    }
    @include device(md) {            
        width: 300px;
    }
    @include device(md) {            
        width: 270px;
    }
    @include device(sm) {            
        padding: 30px 8px;
        width: 200px;
    }
}