.atvBox {
    display: flex;
    background: $blue;
    width: 300px;
    height: 320px;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    h2 {
        color: $white;
        text-align: center;
        font: $font-sm;
    }
    hr {
        width: 100%;
    }
    h5 {
        color: white;
        margin: 15px 0px;
    }
    .btn-light {
        color: $blue;
        font: $font-sm;
        padding: 6px 40px;
        border-radius: 10px;
    }
    .btn-danger {
        color: $white;
        font-weight: regular;
        font-size: 30px;
        border-radius: 50%;
        padding: 0px 13px;
    }
}