.modal {
    font: $font-sm;
    &--title {
        text-align: center;
        font-weight: $extra-bold !important;
        &--website {
            font: $font-lg !important;
        }
        &--plataforma {
            font: $font-re;
        }
    }
    &--subtitle {
        font: $font-sm !important;
        text-align: center;
        font-weight: $extra-bold !important;
        &--website {
            font: $font-sm !important;
        }
    }
    &--text {
        &--website {
            text-align: center;
        }
    }
    &--textarea {
        height: 63px;
        min-height: 63px;
    }
    &--input {
        font: $font-sm;
        color: $black !important;
        font-weight: $regular;
        padding: 12px;
        border: 2px solid $gray;
        border-radius: 10px;    
        &:focus, &:active {
            border: 2px solid $gray;
        }
    }
    &--btn {
        padding: 16px 14.84375%;
        border-radius: 10px;
        font: $font-sm;
        background: $blue;
        border: none;
        cursor: pointer;
        &:hover, &:focus, &:active {
            background: $blue !important;
        }
        @include device(sm) {            
            word-wrap: break-word;
        }
        &--secondary {
            background: $white;
            color: $blue;
            font: $font-sm;
            border: 3px solid $blue;
            padding: 12px 14.84375%;
            border-radius: 10px;
            &:active, &:hover {
                background: $blue !important;
                color: $white;
                border: 3px solid $blue;
            }
        }
        &--verify {
            width: 85%;
        }
    }
}

.modal-backdrop.show {
    background-color: $black;
    opacity: 0.9;
}

.modal-alterar-senha .modal-backdrop.show {
    opacity: 0;
}

.modal-align {
    height: 100%;
}

.modal-header {
    flex-wrap: wrap;
    justify-content: center;
    border-bottom: none;
}

.modal-header p {
    color: $gray-dark;
    margin-bottom: 0;
}

.modal-body {
    padding-bottom: 8px;
    p {
        color: $black;
        justify-content: center;
    }
    h4 {
        color: $gray;
    }
}

.modal-footer {
    padding-top: 0;
    border: none;
}

.modal-content {
    border-radius: 0;
    border: none;
    &--website {
        padding: 50px 94px 60px 94px;
        &--verify {
            padding: 60px 60px 60px 60px;
        }
    }
    &--plataforma {
        padding: 60px 30px;
    }
    @include device(sm) {
        padding: 60px 20px;
    }
}

.modal-cronograma {
    .modal-content {
        padding: 30px 30px;
    }
    .modal-body {
        padding-bottom: 0px;
    }
    .modal--subtitle {
        @include device(sm) {            
            margin-top: 50px;
        }
    }
    &--linha {
        margin-bottom: 50px;
    }
}

@import "//node_modules/bootstrap/scss/bootstrap";