.senha--container {
    position: relative;
    input {
        padding-right: 140px !important;
    }
    span {
        position: absolute;
        right: 30px;
        top: 25%;
        color: #707070;
        cursor: pointer;
        user-select: none;
        font-size: 16px;
    }

    .hide-password {
        display: none;
    }
}