.footer {
    background-color: $black;
    padding: 70px 0 40px 0;

    &--text {
        font: $font-sm;
        font-weight: $regular;
        font-size: 16px;
        color: $white;

        span {
            font-weight: $bold;
        }
    }

    &--direitos {
        font: $font-sm;
        font-weight: $regular;
        font-size: 16px;
        color: $white;
        text-transform: uppercase;
    }

    &--item {
        &--title {
            font: $font-md;
            line-height: 1.15;
            color: $yellow;
        }
    }

    &--navbar {        
        .nav-link {
            font: $font-sm;
            font-weight: $regular;
            color: $white;
            transition: .2s;
        
            &:hover {
                opacity: .5;
                transition: .2s;
            }
        }
    }
}