// Navbar main
.navbar--main {
    padding: 15px 0;
    border-bottom: 3px solid $gray;

    // Navbar links
    .nav-item {
        // Responsive
        @include device(lg) {
            &:last-child a {
                margin-bottom: 30px;
            }
        }

        // Navbar links
        .nav-link {
            font: $font-sm;
            color: $gray-dark;
            opacity: 1;
            padding: 0 !important;
            margin: 0 15px;
            position: relative;

            // Hover
            &:hover {            
                color: $blue;
            }

            &:after {
                content: '';
                position: absolute;
                bottom: -.2em;
                left: 50%;
                right: 50%;
                height: 1px;
                background: $blue; 
                transition: .2s;
            } 

            &:hover:after {
                left: 0;
                right: 0;
                height: 3px;
            } 
            
            /*
            &:before {
                position: absolute;
                transform: translateX(-100%);
                left: -10px;
                color: red;
                opacity: .3;
                font-weight: 100;
                font-size: .8em;
            }
            */

            // Responsive
            @include device(lg) {
                margin: 10px 0;
            }
        }
    }

    // Navbar toggler
    .navbar-toggler {
        border: 3px solid $gray-dark;
        transition: .2s;

        // Hover
        &:hover {
            opacity: .65;
            transition: .2s;
        }
    }

    .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(112, 112, 112, 1)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
        transition: .2s;

        // Hover
        &:hover {
            opacity: .65;
            transition: .2s;
        }
    }
}