.dados-pessoais {
    margin: 120px auto 160px auto;
    position: absolute;
    width: calc(100% - 78px);
    left: 15.63%;
    transition: all 0.5s ease;
    &--title {
        font: $font-lg;
        margin-bottom: 20px;
        color: $black;
    }
    &--sub-title {
        margin-bottom: 40px;
    }
    &--user-img {
        display: block;
        margin-bottom: 40px;
        height: 150px
    }
    &--alterar {
        @extend .btn--common;

        border-color: $blue;
        color: $blue;
        padding: 5px 20px;	
        transition: .2s;
        display: block;
        margin-bottom: 40px;
    
        &:hover {
            background-color: $blue;
            color: $white;
            transition: .2s;
        }
    }
    &--desativar {
        color: $red;
        cursor: pointer;
        text-decoration: none;
        font: $font-sm;
        &:hover,&:focus {
            color: $red;
        }
    }
    &--form {
        label {
            font: $font-sm;
            color: $black;
        }

        input {
            font: $font-sm;
            color: $black;
            font-weight: $regular;
            padding: 12px;
            border: 2px solid $gray;
            border-radius: 10px;
            cursor: default;
        
            &:focus, &:active {
                border: 2px solid $gray;
            }
        }
    }
}

.sidebar.active ~ .dados-pessoais {
    // Move o conteudo com a sidebar ativada
    z-index: 100;
    width: calc(100% - 240px);
    left: calc(78px + 240px);
}