// Selection
::selection {
    color: $black;
    background: $blue-light;
}

// Container padding
.container-padding {
    @include device(lg) {
        padding: 0 40px !important;
    }
}

.container-padding--light {
    @include device(lg) {
        padding: 80px 40px !important;
    }
}

// Scrollbar

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-thumb {
    background: $blue;
}

::-webkit-scrollbar-track {
    background: $gray-light;
}

@media (min-width: 1400px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1320px;
    }
}

.red-btn {
  background: $red !important;
  color: $white !important;
  fill: $white;
  &:hover {
    background: $red !important;
  }
}

.green-btn {
  background: $green !important;
  color: $white;
  fill: $white;
  &:hover {
    background: $green !important;
  }
}

.form-control {
  padding: 12px;
  border: 2px solid $gray;
  border-radius: 10px;  
  font-weight: $regular;
  font: $font-sm;
  font-weight: 400;             
  color: $black;
  &:focus, &:active {
      border: 2px solid $gray;
  }
}

textarea {
  min-height: 160px !important;
}

.gutter {
  --bs-gutter-y: .75rem;
}

.btn-green {
  background-color: $green !important;
  border-color: $green !important;
  &:hover, &:focus, &:active {
    color: $white;
    background: $green;
  }
}

.btn-red {
  background-color: $red !important;
  border-color: $red !important;
  &:hover, &:focus, &:active {
    color: $white;
    background: $red;
  }
}

.text-blue {
  color: $blue !important;
}

.btn--primary {
  color: $white;
  padding: 14px 0;
  border-radius: 10px;
  font: $font-sm;
  background: $blue;
  cursor: pointer;
  border: none;
  border-color: $blue;
  &:hover, &:focus, &:active {
      color: $white;
      background: $blue;
      border-color: $blue;
  }
  @include device(sm) {            
      word-wrap: break-word;
  }
}

.btn--secondary {
  background: $white;
  color: $blue;
  font: $font-sm;
  border: 3px solid $blue;
  padding: 11px 0;
  border-radius: 10px;
  &:active, &:hover {
      background: $blue;
      color: $white;
      border: 3px solid $blue;
  }
  @include device(sm) {            
    word-wrap: break-word;
  }
}

.btn-padding {
  padding: 14px 15%;
}

// Dark Mode

.dark-mode {
    background-color: $black;
    color: $gray-light;
    transition: background-color 0.25s ease-in-out;
    .form-label {
      color: $gray-light;
    }
    .table-hover>tbody>tr>* {
      color: $gray-light;
    }
    .underline {
      color: $gray-light;
      background: linear-gradient(0deg, $blue, 30px, transparent 7px) 0 3em !important;
    }
    .cronograma .editable-row ::before {
      background-color: $blue !important;
      color: $gray-light !important;
    }
    .sidebar {
      background-color: #1d1d1d !important;
      a {
        color: $gray-light;
      }
      ul li .tooltip {
        background-color: $gray-dark;      
      }
      &--mobile {
        background-color: #1d1d1d !important;
      }
    }
    .painel--demais-horarios {
      background-color: $black;
      color: $gray-light;
      &:hover {
        background-color: $blue;
      }
    }
    .painel .slick-next::before, .painel .slick-prev::before, .user--name {
      color: $gray-light;
    }
    .user--photo {
      border-color: $gray-light;
    }
    .materias--adicionar-materias, .atividades--btn--inactive, .--secondary, .ver-atividades--btn--inactive {
      background-color: $black;
      color: $gray-light;
    }
    .form-control {
      background-color: $gray-dark;
      border-color: $gray;
      color: $gray-light;
    }
    .form-control[readOnly] {      
      background-color: $gray-superdark;
      border-color: $gray;
      color: $gray-light;
      cursor: default;
    }
    .dados-pessoais--user-img {
      border-color: $gray-light;
    }
    h1, h2, h3, p {
      color: $gray-light;
    }
    .visao-geral--btn--inactive {
      background-color: $gray-dark;
      color: $gray-light;
    }
    .card {
      background-color: $black;
    }
    td {
      color: $gray-light;
    }
    .btn--secondary {
      background: $black;
      color: $white;
      &:hover {
        background: $blue;
      }
    }
}

.light-mode {
  background-color: $white;
  color: $black;
  transition: background-color 0.25s ease-in-out;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 14px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $gray;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: $white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: $blue-dark;
}

input:focus + .slider {
  box-shadow: 0 0 1px $blue;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.switch-checkbox {
  padding: 10px;
}